/* Palette
#8f0641 - background - pink crimson
#fff7fb - text - creamy, slightly pink white
#590555 - alt background - dark purple
#6C4B61 - cart/secondary alt background - dull, greyish purple
*/

body {
    background-color: #8f0641;
}

h1 {
    font-family: 'Indie Flower', cursive;
}

* {
    font-family: 'RocknRoll One', sans-serif;
    color: #fff7fb;
}

header, footer {
    background-color: #590555;
}

.cart {
    background-color: #6C4B61;
}