/* Palette
#8f0641 - background - pink crimson
#fff7fb - text - creamy, slightly pink white
#590555 - alt background - dark purple
#6C4B61 - cart/secondary alt background - dull, greyish purple
#dfffcf - hyperlink (unvisited) - very light green
#ffe7cf - Hyperlink (visted) - very light orange
*/

/* REMINDERS
---Add responsive meta tag to HTML head 
---Add alt colors for hyperlink text
---Remove dots from nav bar
*/

/* General */
body {
    background-color: #8f0641;
}
header, footer {
    background-color: #590555;
}


nav > ul > li {
    display: inline;
    padding: 10%;
    text-align: center;
}
h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
}
* {
    font-family: 'RocknRoll One', sans-serif;
    color: #fff7fb;
    text-align: center;
}
a:link {
    color: #dfffcf;
}
a:visited {
    color: #ffe7cf;
}





/* Storefront */
.album_store {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    justify-content: space-between;
    padding: 5%;
}

.album_store_item {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}




/* Cart */
.cart {
    background-color: #6C4B61;
}

.album_cart {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding: 3%px;
}



