/* Palette
#8f0641 - background - pink crimson
#fff7fb - text - creamy, slightly pink white
#590555 - alt background - dark purple
#6C4B61 - cart/secondary alt background - dull, greyish purple
*/

/* REMINDERS
---Add responsive meta tag to HTML head 
---Add alt colors for hyperlink text
---Remove dots from nav bar
*/

body {
    background-color: #8f0641;
}

h1 {
    font-family: 'Indie Flower', cursive;
}

* {
    font-family: 'RocknRoll One', sans-serif;
    color: #fff7fb;
    text-align: center;
}

header, footer {
    background-color: #590555;
}

.album_store {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    justify-content: space-between;
    padding: 5%;
}

.album_store_item {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    
}

.cart {
    background-color: #6C4B61;
}